"*":
  "atom-beautify":
    general:
      _analyticsUserId: "640803ea-964b-41fb-9687-469349ba5e54"
    html:
      indent_size: 2
  core:
    audioBeep: false
    excludeVcsIgnoredPaths: true
    telemetryConsent: "no"
    themes: [
      "isotope-ui"
      "atom-dark-fusion-syntax"
    ]
    titleBar: "custom"
  editor:
    autoIndent: true
    autoIndentOnPaste: true
    backUpBeforeSaving: true
    fontFamily: "Menlo"
    fontSize: 12
    invisibles: {}
    normalizeIndentOnPaste: true
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    showLineNumbers: true
    tabLength: 2
    tabType: "soft"
  "exception-reporting":
    userId: "94198b50-e51e-cd37-76aa-b181ac1352ff"
  "file-icons":
    coloured: false
  "git-plus": {}
  "highlight-selected": {}
  latex:
    enableShellEscape: true
    engine: "xelatex"
    texPath: "/Library/TeX/texbin"
  latextools:
    builderPath: "/Library/TeX/texbin/xelatex"
    builderSettings:
      options: [
        "-shell-escape"
      ]
      program: "xelatex"
    linux: {}
  pigments:
    groupPaletteColors: "by file"
    sortPaletteColors: "by name"
  "terminal-plus":
    core:
      autoRunCommand: "R"
      mapTerminalsTo: "Folder"
  "todo-show":
    statusBarIndicator: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: true
    removeTrailingWhitespace: true
".diff.source":
  editor:
    normalizeIndentOnPaste: "true"
".latex.rd.tex.text":
  editor:
    normalizeIndentOnPaste: "true"
".r.source":
  editor:
    normalizeIndentOnPaste: "true"
    showInvisibles: true
