'exception-reporting':
  'userId': 'ba62f12e-2d57-74b5-503f-20cfa66ee54b'
'release-notes':
  'viewedVersion': '0.95.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '4e45fb20554ee1a25899c22cd7f7ac534e732eb0'
'editor':
  'fontFamily': 'Menlo'
  'softWrap': false
  'softWrapAtPreferredLineLength': false
  'autoIndent': true
  'normalizeIndentOnPaste': true
  'preferredLineLength': 80
  'showIndentGuide': true
  'showLineNumbers': true
  'tabLength': 2
  'fontSize': 13
'core':
  'themes': [
    'atom-dark-ui'
    'monokai'
  ]
'whitespace':
  'ensureSingleTrailingNewline': true
  'removeTrailingWhitespace': true
'autocomplete':
  'includeCompletionsFromAllBuffers': true
